<section class="py-7">
    <div class="flex justify-between items-center">
        <div class="flex flex-col gap-2">
            <div class="text-slate-100 text-base font-bold"><span class="text-yellow-400">V</span><span
                    class="text-blue-500">Cristian</span></div>
            <div class=" flex gap-4 text-gray-300 text-xs font-medium box-border">
                <a routerLink="/" routerLinkActive="border-b-2" [routerLinkActiveOptions]="{ exact: true }"
                    class="hover:text-slate-100 border-purple-400">Inicio</a>
                <a routerLink="projects" routerLinkActive="border-b-2"
                    class="hover:text-slate-100 border-green-400">Proyectos</a>
                <a routerLink="about-me" routerLinkActive="border-b-2"
                    class="hover:text-slate-100 border-blue-400">Acerca de mi</a>
            </div>
        </div>
    </div>
</section>