<div class="py-4">
    <h1 class="text-slate-200 text-3xl font-bold mb-4">Acerca de mi</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div class="text-slate-200">
            <p>Hola, mi nombre es Cristian y soy el creador de <span
                    class="text-yellow-400 font-bold">V</span><span class="text-blue-500 font-bold">Cristian</span>. Mi
                página web es un lugar
                donde puedo compartir mis conocimientos y habilidades como desarrollador de software, así como también
                información acerca de mis proyectos y experiencias.</p>
            <p class="mt-2">
                Me especializo en el desarrollo de aplicaciones web. Disfruto mucho aprendiendo nuevas
                tecnologías y estoy siempre buscando nuevos desafíos.
            </p>
        </div>
        <div class="flex justify-center">
            <div>
                <img src="assets/imgs/profile.jpg" class="w-52 rounded-md">
            </div>
        </div>
    </div>
    <p class="mt-10 text-gray-200 text-sm">Gracias por tomarse el tiempo de conocer acerca de mi página web. ¡Espero verte pronto en línea!</p>
</div>